_
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'segoe ui';
    color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;

}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
.header{
    height: 100px;
    .logo{
        align-self: center;
    }
}
.menu-top-menu-container{
    float: right;
    margin-right: 15px;
    ul{
        display: flex;
        list-style: none;
        li{
            margin: 0 20px;
            line-height: 80px;
            a{
                color: black;
                font-weight: 700;
                text-decoration: none;
                transition: .3s;
                &:hover{
                    color: red;
                }
            }
        }
    }
}
//theme style
.thumbnailImage{
   img{
       width: 100%;
       height: auto;
   }
}
.item-news{
    img{
        height: 300px;
    }
}

.postsMain{
    .clearfix {
        margin-top: 20px;
    }
    a{
        color: black;
        text-decoration: none;
        transition: .3s;
        &:hover{
            color: red;
        }
    }
}
.logo{
    img{
        height: 65px;
        padding-top: 7px;
    }
}

.socialMedia{
    ul{
        display: flex;
        li{
            margin-right: 25px;
        }
        img{
            height: 14px;
        }
    }
}

//footer

footer{
    ul{
        padding: 0;
    }
  
    padding-top: 50px;
    background-color: #f3f4f5;
    h6{
        font-weight: 500;
        font-size: 0.9em;
    }
    h5{
        font-weight: 800;
        margin-bottom: 30px;
    }
    span{
        color: red;
        font-weight: 500;
    }
    .contact{
        margin-top: 40px;
    }
    ul{
        list-style: none;
        li{
            margin: 20px 0;
            font-weight: 400;
        }
    }
    .footerPadding{
        margin: 30px 0;
    }
    .inputButtonFooter{
        margin-top: 20px;
        display: flex;
        input{
            border: none;
            width: 100%;
            background-color: #e8e9eb;
            padding: 15px 20px;
        
        }
        input:focus{
            outline: none;
        }
        button{
            padding: 10px 20px;
            border: none;
            background-color: rgb(231, 4, 4);
            color: white;
            width: 150px;
            font-weight: 600;
        }
    }
}
//hamburger menu
.hamburger{
	background-color: black;
    height: 40px;
    width: 40px;
	border: 1px solid white;
	display: block;
	cursor: pointer;
	padding: 10px;
	z-index: 1000;
	position: relative;
	&:focus{
		outline: none;
	}
	.hamburgerBox{
		height: 10px;
		width: 15px;
		position: relative;
        display: block;
		.hamburgerLine{
			width: 100%;
			height: 1px;
			background-color: white;
			position: absolute;
			left: 0;
			top: 1px;
			transition: .2s ease-in-out;
			&::before{
				content: '';
				width: 100%;
				height: 1px;
				background-color: white;
				top: 8px;
				position: absolute;
				left: 0;
				transition:  .2s ease-in-out;
			}
			
		}
	}
	
}
.hamburger--active{
	.hamburgerLine{
		transition: .2s;
        transform: translateY(3px) rotate(45deg);
        height: 2px;
	}
	.hamburgerLine::before{
		transform: translateY(-4px) rotate(90deg) translateX(-3px);
        height: 2px;
	}
}
.mobileNav{
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 99vh;
	background-color: white;
	z-index: 1000;
	opacity: 0;
	display: none;
	transition: .3s ease-in-out;
    .contactMenu{
        font-size: 1.3rem;
        ul{
            list-style: none;
            ol{
                margin: 0 0 20px;
                font-weight: 400;
                padding: 0;
            }
        }
        span{
            color: red;
        }
        .icons{
            ul{
                display: flex;
            }
        }
    }
	.menu{
		display: flex;
        
		ul{
			margin: auto;
            display: grid;
            list-style: none;
            padding: 0;
			.current_page_item > a{
				text-decoration: line-through;
			} 
			li{
				padding: 5px;
                margin: 0 0 52px;
				
				a{
					text-decoration: none;
                    font-weight: 900;
					color: black;
					font-size: 2.5rem;
					&:hover{
						text-decoration: none;
						color: red;
					}
				}
				ul{
					color: white;
					li{
						a{
							font-size: 1.5rem;
						}
						
					}
				}
			}
		}
	}
}
.mobileNav--active{
	opacity: 1;
    background-color: $grayMenu;
	display: block;
    overflow: auto;
    padding: 20px auto;
    height: 100%;
}
.header--active{
    background-color: $grayMenu;
}
.bodyOverflow{
    overflow: hidden;
}
.noneDisplay{
    opacity: 0;
}
//article

.articleTitle{
    margin: 50px 0;
}
article{
    font-size: 1.2rem;
    h2, h1, h3, h4, h5, ul, ol{
        margin: 20px 0;
    }
}

//sidebar

.sidebarLeft{
    margin: 50px 0;
}

.navBox{
    margin-top: 85px;
}
.container {
    max-width: 1240px;
}

.menuTop{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menuAdress{
    max-width: 430px;
    ul{
        padding: 0;
    }
}
.topPageSvgPicture{
    img{
        max-width: 568px;
        position: relative;
        left: 25px;
    }
}
.topMarginMainPage{
    margin-top: 120px;
    h1{
        font-weight: 800;
        line-height: 56px;
        font-size: 3rem;
        margin-top: 100px;
        margin-bottom: 32px;
    }
    p{
        line-height: 37px;
        padding-right: 20px;
        font-size: 1.4rem;
    }
}
.buttonTopMainPage{
    background-color: #fd4040;
    padding: 16px 30px;
    border: none;
    color: white;
    font-weight: 800;
    margin-top: 27px;
    font-size: 0.9rem;
}
.clearfixTop{
    margin-top: 200px;
}
.leftTextTop{
    padding-left: 15px;
}

@include media-breakpoint-down(lg){
    .topMarginMainPage{
        flex-direction: column-reverse;
    }
}

@include media-breakpoint-down(md){
    .topPageSvgPicture img{
        width: 100%;
        height: 100%;
        left: 0;
    }
    .leftTextTop{
        h1{
            font-size: 2.5rem;
        }
    }
    .topMarginMainPage{
        margin-top: 36px;
    }
    .header .container{
        margin-top: 6px;
    }
    body .mobileNav{
        .menu{
            ul{
                li{
                    margin: 0 0 30px;
                    a{
                        font-size: 2rem;
                    }
                   
                }
            }
        }
    }
    .navBox{
        margin-top: 60px;
    }
}
